.box {
    border: 2px solid;
    /*border-radius: 20px; if we want to make it rounded*/
    padding: 35px;
    font-family : 'Lato', serif;
    width: 50%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

label {
    float: left;
    width: 200px;
    text-align: right;
    margin-right: 0.5em;
}

